[Unit]
Description=gtp-stromung-aufnehmen
Wants=network-online.target
After=syslog.target network.target network-online.target

[Service]
ExecStart=/opt/glosav/gtp-encoder/bin/gtp-encoder configurations-1-1.json constraint.json
WorkingDirectory=/opt/glosav/gtp-encoder/bin
User=root
StartLimitInterval=0
StartLimitBurst=0
Restart=always
RestartSec=2
TimeoutStopSec=3
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
